/**
 * Base styling for content.
 * This is included in layout/_content.scss and zmd.scss
 */

h2,
h3 {
    clear: both;

    &,
    a {
        color: $accent-900;
        margin-top: $length-48;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
    }

    &.not-ready a {
        color: $color-not-ready-content;
    }
}

h2 {
    font-size: $size-6;
    line-height: 50px;
    margin-bottom: $length-20;
    background: $white;
    border-top: 1px solid $grey-100;
    padding-left: 1%;
    font-weight: 400;
}

h3 {
    font-size: $size-7;
    margin-bottom: $length-14;
}

h4 {
    font-size: $size-8;
    margin-bottom: $length-12;
}

h5 {
    font-size: $size-9;
    margin-bottom: $length-10;
}

h6 {
    font-size: $size-10;
    margin-bottom: $length-10;
}

// Buttons displayed in a h2 title block, at the very right.
// TODO This is placed using a very weird system: the item is
//      under the block and placed above using a negative margin.
//      We should refactor this to use proper alignment.
.actions-title {
    float: right;
    margin: -60px 10px 0 0;

    .btn {
        height: 30px;
        line-height: 30px;
        margin-left: 3px;
        opacity: .7;
        z-index: 1;

        &.ico-after:after {
            margin-top: 7px;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}



.custom-block {
    margin: $length-24 0;
}

.custom-block-body {
    padding: $length-6 $length-14 $length-6 $length-48;

    &:after {
        position: absolute;
        top: 50%;
        left: $length-16;
        margin: -$length-12 0 0 -$length-12;
        height: 22px;
        width: 22px;
    }
}

.custom-block-heading {
    padding: $length-2 $length-12;
    font-weight: bold;
}

.custom-block-information {
    background: $primary-100;

    .custom-block-heading {
        color: $white;
        background: $primary-500;
    }

    .custom-block-body:after {
        @include sprite-position($information);
    }
}

.custom-block-question {
    background: $purple-100;

    .custom-block-heading {
        color: $white;
        background: $purple-800;
    }

    .custom-block-body:after {
        @include sprite-position($question);
    }
}

.custom-block-error {
    background: $red-100;

    .custom-block-heading {
        color: $white;
        background: $red-800;
    }

    .custom-block-body:after {
        @include sprite-position($error);
    }
}

.custom-block-warning {
    background: $accent-200;

    .custom-block-heading {
        color: $white;
        background: $accent-800;
    }

    .custom-block-body:after {
        @include sprite-position($warning);
    }
}

.custom-block-neutral,
.custom-block-spoiler {
    background: $grey-200;

    .custom-block-heading {
        color: $white;
        background: $grey-700;
    }

    .custom-block-body {
        padding: 0 $length-12 $length-2;

        &:after {
            display: none;
        }
    }
}

.js .spoiler, .custom-block-spoiler {
    display: none;
}
.spoiler-title {
    display: block;
    background: $grey-100;
    margin: $length-16 0 0;
    padding: $length-2 $length-14 $length-2 $length-32;
    text-decoration: none;
    border-bottom: 1px solid $grey-200;
    color: $grey-700;

    &.ico-after:after {
        margin: $length-6 0 0 $length-10;
    }

    &:hover {
        text-decoration: underline;
    }
}

/* Old CSS for custom blocks, for compatibility */
:not(.alert-box){
    &.information,
    &.question,
    &.error,
    &.warning,
    &.spoiler {
        margin: 25px 0;
        padding: 7px 15px 7px 45px;

        &.ico-after:after {
            position: absolute;
            top: 50%;
            left: 23px;
            margin: -11px 0 0 -11px;
            height: 22px;
            width: 22px;
        }
    }
    &.information {
        background: $primary-100;

        &.ico-after:after {
            @include sprite-position($information);
        }
    }
    &.question {
        background: $purple-100;

        &.ico-after:after {
            @include sprite-position($question);
        }
    }
    &.error {
        background: $red-100;

        &.ico-after:after {
            @include sprite-position($error);
        }
    }
    &.warning {
        background: $accent-200;

        &.ico-after:after {
            @include sprite-position($warning);
        }
    }
}

.spoiler,
.custom-block-spoiler {
    margin-top: 0;
    background: #EEE;
}



img {
    max-width: 100%;
}

figure {
    margin: $length-32 0;
    text-align: center;
}

figure > {
    img,
    video,
    pre,
    code,
    table,
    blockquote,
    embed,
    video {
        max-width: 100%;
        margin: 0 auto;
        text-align: left;
    }

    img,
    video,
    pre,
    code {
        display: block;
    }

    figcaption {
        display: block;
    }

    blockquote ~ figcaption {
        padding: 0 0 $length-1 2%;
        font-style: italic;
        text-align: left;
        color: $grey-700;
        border-left: $length-4 solid $grey-200;

        p {
            margin: 0 0 $length-4;
        }

        p:before {
            content: "— ";
        }
    }
}

blockquote {
    margin: 0;
    color: $grey-700;
    padding: $length-1 2%;
    border-left: $length-4 solid $grey-200;

    & > p:first-child {
        margin-top: $length-4;
    }

    & > p:last-child {
        margin-bottom: $length-4;
    }

    figure {
        margin: $length-14 0;
    }

    &:last-child {
        margin-bottom: $length-14;
    }
}

code,
kbd,
pre,
samp {
    font-family: $font-monospace;
}

// code
@import "base/source-code";

// touche
kbd {
    background-color: $accent-100;
    padding: $length-2 $length-6;
    border-radius: $radius-1;
    border: solid $length-1 $accent-200;
    border-bottom-width: $length-4;
    text-shadow: 0 $length-1 0 $white;
    color: $accent-900;
}

// Code inline
p,
li,
td {
    code:not(.hljs) {
        display: inline-block;
        padding: $length-2 $length-6;

        background: $red-100;

        border: $length-1 solid $red-200;
        border-radius: $radius-1;

        color: $red-800;
    }
}

// @ping
.ping {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    .ping-username {
      font-weight: bold;
    }
}

.mathjax-wrapper {
    max-width: 100%;
    overflow: auto;

    mathjax {
        font-size: $size-9
    }
}

.footnote, .footnotes {
    opacity: .7;

    ol {
        padding-left: $length-24;

        p {
            display: inline;
        }
    }
}

.video-container {
    // Center the video and set a maximum size
    margin: 0 auto;
    max-width: 560px;
    max-height: 315px;

    // Needed in case .video-container is wrapped with <div class="align-center"> or with <figure>
    text-align: left;

    // Adjust the video to fit the screen size
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; // height / width * 100

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

.katex-display > .katex {
    display: contents;  /* overrides katex.css that creates display:inline-block and generate bad box */
}
.inlineMathDouble .katex {
    max-width: 100%;
    overflow-x: auto;
}

.iframe-wrapper {
    overflow-x: auto;
}

div.align-center {
    text-align: center;
}
div.align-right {
    text-align: right;
}
div.align-left, figure pre code.hljs {
    text-align: left;
}

// checkbox menu

ul li p {
    margin: 0;
}

li.task-list-item {
    list-style-type: none;
    position: relative;

    input[type=checkbox] {
        top: 4px;
        position: absolute;
        left: -20px;
    }
}

.warn-typo {
    height: $length-20;
}
