.content-container,
.modals-container {
    form {
        width: 100%;

        &.content-wrapper {
            width: calc(100% - $length-20);
            margin: 0 $length-10;
        }

        p {
            position: relative;
        }

        &.btn-inline {
            width: auto;
            vertical-align: middle;
        }
    }

    .search-form {
        display: flex;
        align-items: stretch;

        input {
            margin-right: $length-10;
            height: initial;
        }
    }

    fieldset {
        border-top: $length-1 solid $grey-200;
        border-bottom: $length-4 solid $grey-200;
        background: $grey-100;
        padding: 0 4%;

        legend {
            padding: 0 $length-10;
            border-top: $length-1 solid $grey-200;
            border-bottom: $length-4 solid $grey-200;
            background: $grey-100;
        }
    }

    .control-group + .control-group {
      margin-top: $length-8;
    }

    label {
        display: block;
        color: $grey-700;
        height: $length-32;
        line-height: $length-32;
        cursor: pointer;

        .asteriskField {
            color: $red-600;
            margin-left: 4px;
        }
    }
    .small-content-wrapper .asteriskField {
        display: none;
    }
    .form-error {
        display: block;
        font-size: $length-12;
        color: $red-800;
    }

    input,
    textarea {
        border: $length-1 solid $grey-200;

        &:focus {
            outline-color: $grey-400;
        }

        &.field-error,
        &:invalid {
            border-color: $red-300;

            &:focus {
                outline-color: $red-300;
            }
        }

        &[disabled],
        .disabled {
            background: $grey-200 !important;
            color: $grey-700;
        }
    }

    input,
    textarea,
    button,
    .btn {
        -webkit-appearance: none;
        transition: color $transition-duration ease,
                    background $transition-duration ease;
    }

    input:not([type=submit]):not([type=reset]):not([type=radio]):not([type=checkbox]) {
        width: calc(98% - 2px);
        padding: 0 1%;
    }
    textarea {
        width: calc(98% - 2px);
        padding: 10px 1%;
        font-family: $font-monospace;
        line-height: normal;
    }

    input,
    button,
    .btn {
        display: block;
        height: $length-32;

        &.ico-after {
            padding-left: $length-32;

            &:after {
                margin: $length-1 0 0 $length-10;
            }
        }
    }

    [type=submit],
    button:not(.link),
    .btn {
        position: relative;
        height: $length-48;
        line-height: $length-48;
        cursor: pointer;
        color: $grey-200;
        padding: 0 $length-16;
        border: none;
        text-decoration: none;
        margin-left: $length-1;
        outline: none;

        &.submitted {
            color: $grey-700;

            // Animation loading on submit buttons
            .line-loading {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background: $grey-700;
                animation: lineLoading linear 1s infinite;
            }
        }
        &:not(.btn-holder){
            float: right;  // TODO remove floats
        }
    }

    [type=submit]:not(.link),
    .btn-submit:not(.link) {
        color: $white;
        background: $green-700;

        &:not([disabled]):hover,
        &:not([disabled]):focus,
        &:not(.disabled):hover,
        &:not(.disabled):focus {
            background: $green-600;
        }

        &.disabled.submitted {
            color: $green-700;

            .line-loading {
                background: $green-700;
            }
        }
    }
    .btn-cancel:not(.link) {
        background: $red-600;

        &:not([disabled]):hover,
        &:not([disabled]):focus,
        &:not(.disabled):hover,
        &:not(.disabled):focus {
            background: $red-700;
        }

        &.disabled.submitted {
            color: $red-600;

            .line-loading {
                background: $red-600;
            }
        }
    }

    @mixin addBtnColorProperties($bg, $color, $bg_hover, $color_hover, $bg_loading) {
        &:not(.link) {
            background: $bg;
            color: $color;

            &:not([disabled]):hover,
            &:not([disabled]):focus,
            &:not(.disabled):hover,
            &:not(.disabled):focus {
                background: $bg_hover;
                color: $color_hover;
            }

            &.disabled.submitted {
                color: $color;

                .line-loading {
                    background: $bg_loading;
                }
            }
        }
    }

    .btn-grey {
        @include addBtnColorProperties($grey-200, $grey-700, $grey-300, $grey-800, $grey-400);
    }

    .btn-inline {
        display: inline-block;
    }

    .btn-no-float {
        float: none !important;
        vertical-align: middle;
    }

    [disabled],
    .disabled {
        cursor: default !important;
        background: $grey-200 !important;

        &:not(.submitted){
            color: $grey-300 !important;
        }
    }

    // Brand colours, out of ZdS palette
    .btn-facebook:not(.link) {
        background: #3b5998;

        &:hover,
        &:focus {
            background: darken(#3b5998, 10%);
        }
    }
    .btn-twitter:not(.link) {
        background: #4099FF;

        &:hover,
        &:focus {
            background: darken(#4099FF, 10%);
        }
    }
    .btn-google-plus:not(.link) {
        background: #d34836;

        &:hover,
        &:focus {
            background: darken(#d34836, 10%);
        }
    }

    .btn-facebook,
    .btn-twitter,
    .btn-google-plus {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}

.content-container {
    .btn-holder,
    .buttonHolder /* specifix for crispy */ {
        margin-top: $length-24;
        min-height: $length-48;
    }
}

.main-container,
.modals-container {
    input[type=radio],
    input[type=checkbox] {
        float: left;
        margin-right: $length-6;
        height: 15px;
        width: 15px;
        border: 1px solid #BBB;
        background: #FCFCFC;
        transition: none;
        position: relative;

        &:after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            @include sprite();
        }

        &:checked:after {
            opacity: 1;
        }

      }
    input[type=radio] {
        border-radius: 50%;
    }
    input[type=radio]:after {
        @include sprite-position($radio);
    }
    input[type=checkbox]:after {
        @include sprite-position($check);
    }


    // TEMP STYLES TO PATCH TEMP TEMPLATE PACK MIX
    .checkbox,
    .radio {
        padding: $length-10 0;
        height: 100%;

        & + .checkbox, & + .radio {
          padding-top: 0;
        }

        input {
            margin-top: $length-8;
        }
    }
    .controls .radio {
        padding-top: $length-4;
        padding-bottom: 0;
    }
    // used in the "new content" page
    .checkbox-new-content {
        padding: 0;
    }
}

@include desktop {
    .content-container,
    .modals-container {
        form.content-wrapper {
            margin: 0;
            width: 100%;
        }
    }
}


@keyframes lineLoading {
    0% {
        width: 0%;
        left: 0;
        right: inherit;
    }
    49% {
        left: 0;
        right: inherit;
    }
    50% {
        width: 100%;
        left: inherit;
        right: 0;
    }
    100% {
        left: inherit;
        right: 0;
    }
}
